/* Colors */
/* Typography */
/* Spacing */
/* Typography */
/* Borders */
/* Resets */
/*
    Normalize default styling
    (overwrite style.css)
*/
body {
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

*[hidden] {
  display: none !important;
}

/* Bootstrap defaults override */
.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.ibox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.widget {
  margin-top: 10px;
  margin-bottom: 10px;
}

.i-checks div {
  margin-right: .5em;
}

.af-color-scheme.af--events a,
.af-color-scheme.af--events .af-button.af--white,
.af-color-scheme.af--events .af-brand-color {
  color: #81c684;
}
.af-color-scheme.af--events a:hover,
.af-color-scheme.af--events .af-button.af--white {
  color: #2c9e52;
}
.af-color-scheme.af--events .af-color-scheme__background,
.af-color-scheme.af--events .af-button:not(.af--white) {
  background-color: #81c684;
  border-color: #81c684;
  color: white;
}
.af-color-scheme.af--events .af-color-scheme__background-dark,
.af-color-scheme.af--events .af-button:not(.af--white):hover {
  background-color: #2c9e52;
  border-color: #2c9e52;
  color: white;
}
.af-color-scheme.af--audience a,
.af-color-scheme.af--audience .af-brand-color {
  color: #43b8c8;
}
.af-color-scheme.af--audience .af-color-scheme__background,
.af-color-scheme.af--audience .af-button:not(.af--white) {
  background-color: #43b8c8;
  border-color: #43b8c8;
  color: white;
}
.af-color-scheme.af--audience .af-color-scheme__background-dark,
.af-color-scheme.af--audience .af-button:not(.af--white):hover {
  background-color: #11a0b1;
  border-color: #11a0b1;
  color: white;
}
.af-color-scheme.af--marketing a,
.af-color-scheme.af--marketing .af-brand-color {
  color: #df7f86;
}
.af-color-scheme.af--marketing a:hover,
.af-color-scheme.af--marketing .af-button.af--white {
  color: #cd3741;
}
.af-color-scheme.af--marketing .af-color-scheme__background,
.af-color-scheme.af--marketing .af-button:not(.af--white) {
  background-color: #df7f86;
  border-color: #df7f86;
  color: white;
}
.af-color-scheme.af--marketing .af-color-scheme__background-dark,
.af-color-scheme.af--marketing .af-button:not(.af--white):hover {
  background-color: #cd3741;
  border-color: #cd3741;
  color: white;
}
.af-color-scheme.af--sponsors a,
.af-color-scheme.af--sponsors .af-brand-color {
  color: #a284bf;
}
.af-color-scheme.af--sponsors a:hover,
.af-color-scheme.af--sponsors .af-button.af--white {
  color: #9065ba;
}
.af-color-scheme.af--sponsors .af-color-scheme__background,
.af-color-scheme.af--sponsors .af-button:not(.af--white) {
  background-color: #a284bf;
  border-color: #a284bf;
  color: white;
}
.af-color-scheme.af--sponsors .af-color-scheme__background-dark,
.af-color-scheme.af--sponsors .af-button:not(.af--white):hover {
  background-color: #9065ba;
  border-color: #9065ba;
  color: white;
}

/*
    Font Icons
    ==========
*/
/*
    Sprite Icons
    ============
*/
.af-icon-unlock {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: -10px 0 -5px -5px;
  background: url(../af_img/icons/lock@2x.png) no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

/*
    Spacing
    =======
*/
.u-margin-top-sm {
  margin-top: 4px;
}

.u-margin-top-md {
  margin-top: 10px;
}

.u-margin-top {
  margin-top: 20px;
}

.u-margin-bottom-sm {
  margin-bottom: 4px;
}

.u-margin-bottom-md {
  margin-bottom: 10px;
}

.u-margin-bottom {
  margin-bottom: 20px;
}

.u-margin-left-md {
  margin-left: 10px;
}

.u-margin-right {
  margin-right: 20px;
}

/*
    Text styling utilities
    ======================
*/
.u-text-huge {
  font-size: 48px !important;
}

.u-text-lite {
  font-weight: 100;
}

.u-text-pale {
  color: #bbb;
}

/*
    Visibility
    ==========
*/
.u-block {
  display: block;
}

.u-opacity-0 {
  opacity: 0;
}

.u-opacity-20 {
  opacity: 0.2;
}

.u-opacity-50 {
  opacity: 0.5;
}

.u-opacity-100 {
  opacity: 1;
}

.u-blur-2 {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/*
    Boxes
    =====
*/
.af-box {
  box-shadow: #aaa 0 1px 4px;
}
.af-box + .af-box {
  margin-top: 15px;
}
.af-box .af-box__title {
  min-height: auto;
  padding: 10px 20px;
  color: white;
  border: none;
}
.af-box .af-box__title.af--empty {
  min-height: 4px;
  padding-top: 0;
  padding-bottom: 0;
}
.af-box .af-box__title h1, .af-box .af-box__title h2, .af-box .af-box__title h3, .af-box .af-box__title h4 {
  margin: 5px 0 2px;
}
.af-box .af-box__title h2 {
  font-size: 18px;
  font-weight: 600;
}
.af-box .af-box__title .af-button {
  margin-top: -2px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.af-box .ibox-content {
  padding: 20px;
}
.af-box .af-box__footer {
  padding: 0 20px 20px;
  background: white;
  font-size: 16px;
}
.af-box .af-box__carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid 1px white !important;
}
.af-box .af-box__carousel li {
  overflow: hidden;
}
.af-box .af-box__footer.af-box__carousel-controls {
  padding: 10px 20px;
  text-align: center;
}
.af-box .af-box__carousel-control {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  text-indent: 100%;
  background: #f2f2f2;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.af-box .af-box__carousel-control.af--active {
  background: #df7f86;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.af-color-scheme.af--events .af-box .af-box__title {
  background: #81c684;
}
.af-color-scheme.af--audience .af-box .af-box__title {
  background: #43b8c8;
}
.af-color-scheme.af--marketing .af-box .af-box__title {
  background: #df7f86;
}
.af-color-scheme.af--sponsors .af-box .af-box__title {
  background: #a284bf;
}

/*
    Buttons
    =======
*/
.af-button.af--wide {
  width: 100%;
}
.af-button.af--wide25 {
  min-width: 25%;
}
.af-button.af--white {
  background: white;
  opacity: 1;
}
.af-button.af--white:hover {
  background: rgba(255, 255, 255, 0.8);
}
.af-button.af--white.af--secondary {
  background: rgba(255, 255, 255, 0.3);
  color: white !important;
}
.af-button.af--white.af--secondary:hover {
  background: rgba(255, 255, 255, 0.5);
}

.btn.btn-primary,
.btn.btn-default,
.btn.btn-danger {
  color: white !important;
}

.btn.btn-primary {
  background-color: #81c684;
  border-color: #81c684;
}
.btn.btn-primary:hover {
  background-color: #2c9e52;
  border-color: #2c9e52;
}

/*
    Channels custom bar chart
    =========================
*/
.af-channels__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.af-channels__list .af-channels__item {
  margin: 10px 0;
  padding: 0 15% 0 50px;
}

.af-channels__item {
  position: relative;
  height: 50px;
  vertical-align: middle;
}
.af-channels__item:before {
  position: absolute;
  left: 0;
  width: 40px;
  padding: 5px;
  font-size: 30px !important;
  text-align: center;
}
.af-channels__item footer {
  margin-top: 10px;
}
.af-channels__item.af--facebook .af-channels__bar {
  background: #3f5c96;
}
.af-channels__item.af--facebook:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  content: "\f09a";
  color: #3f5c96;
}
.af-channels__item.af--email .af-channels__bar {
  background: #df7f86;
}
.af-channels__item.af--email:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  content: "\f0e0";
  color: #df7f86;
}
.af-channels__item.af--twitter .af-channels__bar {
  background: #61aadb;
}
.af-channels__item.af--twitter:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  content: "\f099";
  color: #61aadb;
}
.af-channels__item.af--more .af-channels__bar {
  background: #aaa;
}
.af-channels__item.af--more:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  content: "\f141";
  color: #aaa;
}

.af-channels__chart h2 {
  margin-bottom: 20px;
}

.af-channels__budget {
  border-left: dashed 1px #aaa;
  text-align: right;
}
.af-channels__budget h4 {
  margin: 0;
}
.af-channels__budget .af-channels__item {
  padding: 10% 0;
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
}

.af-channels__bar {
  position: relative;
  display: inline-block;
  padding: 10px;
  background: #aaa;
  color: white;
  text-align: right;
}

.af-channels__bar-value {
  color: white;
  font-size: 18px;
  line-height: 18px;
}

.af-channels__bar-label {
  position: absolute;
  left: 100%;
  padding-left: 10px;
  color: #777;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}

/*
    Custom Data Visualization
    =========================
*/
.af-chart {
  position: absolute;
  font-family: 'Helvetica';
}
.af-chart * {
  -webkit-text-size-adjust: none;
  font-size-adjust: none;
}

.af-chart__bar {
  padding: 10px 20px;
  background: #81c684;
}
.af-chart__bar.af--weight-10, .af-chart__bar.af--weight-9 {
  background: #81c684;
}
.af-chart__bar.af--weight-8, .af-chart__bar.af--weight-7 {
  background: #93ce95;
}
.af-chart__bar.af--weight-6, .af-chart__bar.af--weight-5 {
  background: #a4d6a6;
}
.af-chart__bar.af--weight-4, .af-chart__bar.af--weight-3 {
  background: #b6deb7;
}
.af-chart__bar.af--weight-2, .af-chart__bar.af--weight-1 {
  background: #c7e6c9;
}
.af-chart__bar.af--weight-0 {
  display: none;
}
.af-chart__bar:hover {
  box-shadow: 0px 0 10px rgba(129, 198, 132, 0.5);
}

.af-chart__label,
.af-chart__value {
  padding: 0;
  margin: 0;
  color: #2f4050;
}

.af-chart__label {
  font-size: 18px;
}

.af-chart__value {
  font-size: 21px;
}

.af-chart.af--horizontal {
  right: 0;
  top: 15%;
  height: 40%;
  width: 88%;
  text-align: right;
}
.af-chart.af--horizontal .af-chart__bar {
  position: relative;
  clear: right;
  float: right;
  margin: 2px 0;
}
.af-chart.af--horizontal .af-chart__label,
.af-chart.af--horizontal .af-chart__value {
  position: absolute;
  color: #2f4050;
}
.af-chart.af--horizontal .af-chart__label {
  top: 50%;
  right: 20px;
  left: 20px;
  margin-top: -.75em;
  line-height: 1.5em;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
}
.af-chart.af--horizontal .af-chart__label.af--medium-text {
  font-size: 14px;
  line-height: 21px;
}
.af-chart.af--horizontal .af-chart__label.af--long-text {
  font-size: 12px;
  line-height: 21px;
}
.af-chart.af--horizontal .af-chart__value {
  right: 100%;
  top: 50%;
  margin-right: .5em;
  font-size: 24px;
  font-weight: 100;
  line-height: 0;
  vertical-align: middle;
}
.af-chart.af--horizontal .af-chart__bar.af--weight-4 .af-chart__label {
  font-size: 14px;
  line-height: 21px;
}
.af-chart.af--horizontal .af-chart__bar.af--weight-3 .af-chart__label {
  font-size: 12px;
  line-height: 21px;
}
.af-chart.af--horizontal .af-chart__bar.af--weight-2 .af-chart__label,
.af-chart.af--horizontal .af-chart__bar.af--weight-1 .af-chart__label {
  left: auto;
  right: 100%;
  max-width: none;
  margin-right: 6em;
  overflow: visible;
  color: rgba(47, 64, 80, 0.75);
  font-size: 10px;
  line-height: 24px;
}
.af-chart.af--horizontal .af-chart__bar.af--weight-2 .af-chart__label:after,
.af-chart.af--horizontal .af-chart__bar.af--weight-1 .af-chart__label:after {
  content: ':';
}

.af-chart.af--vertical {
  height: 50%;
  top: 15%;
  right: 7%;
  max-width: 75%;
}
.af-chart.af--vertical .af-chart__bar {
  position: relative;
  bottom: 0;
  display: inline-block;
  padding: 0;
  vertical-align: bottom;
}
.af-chart.af--vertical .af-chart__label,
.af-chart.af--vertical .af-chart__value {
  position: absolute;
  bottom: 100%;
  width: 100%;
  text-align: center;
}
.af-chart.af--vertical .af-chart__value {
  margin-bottom: 1em;
}
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-1 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-1 .af-chart__value {
  zoom: 10%;
}
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-2 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-2 .af-chart__value {
  zoom: 20%;
}
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-3 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-3 .af-chart__value, .af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-4 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-4 .af-chart__value {
  zoom: 30%;
}
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-5 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-5 .af-chart__value, .af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-6 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-6 .af-chart__value {
  zoom: 50%;
}
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-7 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-7 .af-chart__value, .af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-8 .af-chart__label,
.af-chart.af--vertical .af-chart__bar.af--weight-axis.af--weight-8 .af-chart__value {
  zoom: 75%;
}

.af-chart.af--age {
  width: 75%;
  right: 12%;
}
.af-chart.af--age:before, .af-chart.af--age:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -18px;
  background-repeat: no-repeat;
  background-size: contain;
}
.af-chart.af--age:before {
  right: 103%;
  background-image: url("../af_img/icons/report-age-baby@2x.png");
}
.af-chart.af--age:after {
  left: 103%;
  height: 48px;
  width: 32px;
  margin-bottom: -8px;
  background-image: url("../af_img/icons/report-age-old@2x.png");
}
.af-chart.af--age .af-chart__label {
  bottom: 50%;
  height: auto;
  line-height: 1.3;
  overflow: hidden;
  text-indent: -10000px;
}
.af-chart.af--age .af-chart__label:after {
  display: block;
  color: white;
  font-weight: 100;
  text-indent: 0;
  white-space: pre;
}
.af-chart.af--age .af-chart__value {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 100;
}
.af-chart.af--age .af-chart__bar {
  border-right: solid 1px white;
}
.af-chart.af--age .af-chart__bar.af--weight-1 .af-chart__label, .af-chart.af--age .af-chart__bar.af--weight-2 .af-chart__label, .af-chart.af--age .af-chart__bar.af--weight-3 .af-chart__label, .af-chart.af--age .af-chart__bar.af--weight-4 .af-chart__label {
  display: none;
}
.af-chart.af--age .af-chart__bar.af--weight-1 .af-chart__value {
  display: none;
}
.af-chart.af--age .af-chart__bar:after {
  position: absolute;
  left: 100%;
  top: 100%;
  margin-left: -.5em;
  margin-top: 5px;
  font-size: 10px;
}
.af-chart.af--age .af-chart__bar.af--0-20:after {
  content: '20';
}
.af-chart.af--age .af-chart__bar.af--0-20 .af-chart__label:after {
  content: 'Teens';
}
.af-chart.af--age .af-chart__bar.af--20-30:after {
  content: '30';
}
.af-chart.af--age .af-chart__bar.af--20-30 .af-chart__label:after {
  content: 'Millennials,\aIn their 20s';
}
.af-chart.af--age .af-chart__bar.af--30-40:after {
  content: '40';
}
.af-chart.af--age .af-chart__bar.af--30-40 .af-chart__label:after {
  content: 'Millennials,\aIn their 30s';
}
.af-chart.af--age .af-chart__bar.af--40-50:after {
  content: '50';
}
.af-chart.af--age .af-chart__bar.af--40-50 .af-chart__label:after {
  content: 'In their 40s';
}
.af-chart.af--age .af-chart__bar.af--50-60:after {
  content: '60';
}
.af-chart.af--age .af-chart__bar.af--50-60 .af-chart__label:after {
  content: 'Millenials';
}
.af-chart.af--age .af-chart__bar.af--60-70:after {
  content: '70+';
  margin-left: 0;
}
.af-chart.af--age .af-chart__bar.af--60-70 .af-chart__label:after {
  content: 'In their 60s';
}
.af-chart.af--age .af-chart__bar.af--70 .af-chart__label:after {
  content: 'In their 70s';
}

.af-chart.af--gender {
  bottom: 0;
  top: 20%;
  right: 5%;
  height: 80%;
  width: 45%;
  min-width: 250px;
}
.af-chart.af--gender .af-chart__bar {
  margin: 0 1px;
}
.af-chart.af--gender .af-chart__bar:before {
  content: '';
  position: absolute;
  right: 60%;
  bottom: 100%;
  height: 120px;
  width: 30%;
  max-width: 50px;
  min-width: 40px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.af-chart.af--gender .af-chart__label,
.af-chart.af--gender .af-chart__value {
  left: 45%;
  right: 0;
  width: auto;
  text-align: left;
}
.af-chart.af--gender .af-chart__label {
  margin-bottom: .25em;
  font-size: 21px;
  text-transform: capitalize;
}
.af-chart.af--gender .af-chart__value {
  margin-bottom: 1em;
  font-size: 30px;
  font-weight: 600;
}
.af-chart.af--gender .af-chart__bar.af--female {
  background: #ed66cf;
}
.af-chart.af--gender .af-chart__bar.af--female:before {
  background-image: url(../af_img/icons/report-gender-female@2x.png);
}
.af-chart.af--gender .af-chart__bar.af--female .af-chart__label,
.af-chart.af--gender .af-chart__bar.af--female .af-chart__value {
  color: #ed66cf;
}
.af-chart.af--gender .af-chart__bar.af--male {
  background: #43b8c8;
}
.af-chart.af--gender .af-chart__bar.af--male:before {
  background-image: url(../af_img/icons/report-gender-male@2x.png);
}
.af-chart.af--gender .af-chart__bar.af--male .af-chart__label,
.af-chart.af--gender .af-chart__bar.af--male .af-chart__value {
  color: #43b8c8;
}

.af-chart.af--twitter .af-chart__bar {
  border-right: solid 1px white;
}
.af-chart.af--twitter .af-chart__bar .af-chart__label {
  display: none;
}
.af-chart.af--twitter .af-chart__bar .af-chart__value {
  margin-bottom: 0;
}
.af-chart.af--twitter .af-chart__bar:before, .af-chart.af--twitter .af-chart__bar:after {
  position: absolute;
  left: 100%;
  top: 100%;
  margin-left: -.5em;
  margin-top: 5px;
  font-size: 10px;
}
.af-chart.af--twitter .af-chart__bar:before {
  left: auto;
  right: 70%;
}
.af-chart.af--twitter .af-chart__bar.af--0-10 {
  width: 3% !important;
  background-color: #deedf8;
}
.af-chart.af--twitter .af-chart__bar.af--0-10:before {
  content: 'Followers:';
}
.af-chart.af--twitter .af-chart__bar.af--0-10:after {
  content: '10';
}
.af-chart.af--twitter .af-chart__bar.af--0-10 .af-chart__value {
  zoom: 25%;
}
.af-chart.af--twitter .af-chart__bar.af--10-100 {
  width: 7% !important;
  background-color: #cae2f3;
}
.af-chart.af--twitter .af-chart__bar.af--10-100:after {
  content: '100';
}
.af-chart.af--twitter .af-chart__bar.af--10-100 .af-chart__value {
  zoom: 50%;
}
.af-chart.af--twitter .af-chart__bar.af--100-1000 {
  width: 15% !important;
  background-color: #b5d7ee;
}
.af-chart.af--twitter .af-chart__bar.af--100-1000:after {
  content: '1K';
}
.af-chart.af--twitter .af-chart__bar.af--100-1000 .af-chart__value {
  zoom: 75%;
}
.af-chart.af--twitter .af-chart__bar.af--1000-10000 {
  width: 25% !important;
  background-color: #8bc0e5;
}
.af-chart.af--twitter .af-chart__bar.af--1000-10000:after {
  content: '10K';
}
.af-chart.af--twitter .af-chart__bar.af--1000-10000 .af-chart__value {
  zoom: 100%;
}
.af-chart.af--twitter .af-chart__bar.af--10000 {
  width: 50% !important;
  background-color: #62aadb;
}
.af-chart.af--twitter .af-chart__bar.af--10000 .af-chart__value {
  width: 100%;
  padding-top: 25%;
  padding-bottom: 20%;
  background: url(../af_img/icons/report-twitter@2x.png) no-repeat center bottom;
  background-size: contain;
  color: white;
  font-size: 24px;
  line-height: 1;
}
.af-chart.af--twitter .af-chart__bar.af--10000 .af-chart__value:after {
  content: 'Influitive';
  display: block;
  font-size: 8px;
  font-weight: 300;
  text-transform: uppercase;
}
.af-chart.af--twitter .af-chart__bar.af--10000:after {
  content: 'Highly Influitive';
  left: auto;
  right: 0;
  margin-right: .5em;
}

/*
    Connect Apps Widget
    ===================
*/
.af-connect-widget {
  margin: 0 -10px;
  text-align: center;
}
.af-connect-widget .af-connect-widget__item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  padding-bottom: 45%;
  width: 45%;
  min-height: 90px;
  min-width: 90px;
  margin: 1%;
  background: #f2f2f2;
}
.af-connect-widget .af-connect-widget__item:hover {
  background: #E5E5E5;
}
.af-connect-widget .af-connect-widget__item big {
  font-size: 48px;
  font-weight: 100;
  line-height: 1.1;
  position: absolute;
  bottom: 33%;
  display: block;
  width: 100%;
}
@media (min-width: 960px) {
  .af-connect-widget .af-connect-widget__item big {
    font-size: 3.6vw;
  }
}
.af-connect-widget .af-connect-widget__item small {
  position: absolute;
  bottom: 15%;
  display: block;
  width: 100%;
  font-size: 10px;
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;
}
.af-connect-widget .af-connect-widget__item.af--inactive big {
  font-size: 60px;
  font-weight: 100;
  line-height: 1.1;
  font-weight: 100;
  line-height: .9;
}
.af-connect-widget .af-connect-widget__item.af--active, .af-connect-widget .af-connect-widget__item.af--active:hover {
  color: white;
}
.af-color-scheme.af--events .af-connect-widget .af-connect-widget__item.af--active {
  background: #81c684;
}
.af-color-scheme.af--events .af-connect-widget .af-connect-widget__item.af--active:hover {
  background: #2c9e52;
}
.af-color-scheme.af--audience .af-connect-widget .af-connect-widget__item.af--active {
  background: #43b8c8;
}
.af-color-scheme.af--audience .af-connect-widget .af-connect-widget__item.af--active:hover {
  background: #11a0b1;
}
.af-color-scheme.af--marketing .af-connect-widget .af-connect-widget__item.af--active {
  background: #df7f86;
}
.af-color-scheme.af--marketing .af-connect-widget .af-connect-widget__item.af--active:hover {
  background: #cd3741;
}
.af-color-scheme.af--sponsors .af-connect-widget .af-connect-widget__item.af--active {
  background: #a284bf;
}
.af-color-scheme.af--sponsors .af-connect-widget .af-connect-widget__item.af--active:hover {
  background: #9065ba;
}

/*
    Data representation
    ===================
*/
.af-data.af--medium {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
}
.af-data.af--large {
  font-size: 48px;
  font-weight: 100;
  line-height: 1.1;
}
.af-data.af--xlarge {
  font-size: 60px;
  font-weight: 100;
  line-height: 1.1;
}
.af-data.af--xxlarge {
  font-size: 100px;
  font-weight: 100;
  line-height: 1;
}
.af-data.af--share sub {
  font-size: 40%;
  vertical-align: baseline;
  bottom: 0;
}
.af-data.af--percent:after {
  content: '%';
  margin-left: .1em;
  margin-right: -.5em;
  font-size: 50%;
  vertical-align: super;
}

/*
    Errors
    =======
*/
.af-error {
  margin-bottom: 1em;
  color: #ed5565;
}
.af-error a {
  color: #43b8c8 !important;
  text-decoration: underline;
}
.af-error a:hover {
  color: #11a0b1 !important;
}
.af-error a:before {
  content: '\a';
  white-space: pre;
}

/*
    Event Navigation
    ================
*/
.af-event-navigation.af--bottom-border {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px #aaa;
}

.af-event-navigation__icon {
  float: left;
  margin-right: .25em;
  font-size: 21px;
}
.af-event-navigation__icon.af--xlarge {
  font-size: 40px;
}

.af-event-navigation__title {
  margin: 0 0 4px;
  line-height: 1;
}

.af-event-navigation__info {
  color: #bbb;
}

/*
    Goal
    ====
*/
.af-goal + .af-goal {
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 1px #E5E5E5;
}

.af-goal__progress {
  position: relative;
  padding: 6.66667px 20px;
  overflow: hidden;
  background: #81c684;
  border-radius: 20px;
  vertical-align: middle;
}

.af-goal__progress-bar {
  position: absolute;
  background: #2c9e52;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.af-goal__progress-label {
  position: relative;
  z-index: 1;
}

.af-goal__info {
  font-size: 14px;
}

/*
    Knob Chart
    ==========
*/
.af-knob {
  text-align: center;
}
.af-knob.af--empty .af-knob__label {
  top: auto;
  bottom: 30%;
  color: #aaa;
}
.af-knob.af--empty .af-knob__legend {
  font-size: 14px;
}

.af-knob__inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.af-knob__input {
  display: none;
}

.af-knob__label {
  position: absolute;
  top: 55%;
  left: 20%;
  right: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: .5;
  -webkit-backface-visibility: hidden;
}

.af-knob__legend {
  display: block;
  margin-top: 20px;
  border: none;
  color: #777;
  font-size: 12px;
}

.af-knob__link {
  display: block;
}
.af-knob__link * {
  color: #43b8c8 !important;
  opacity: 1;
  cursor: pointer;
}

.af-knob__value {
  position: absolute;
  bottom: 45%;
  left: 20%;
  right: 20%;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}

/*
    Labels
    ======
*/
.af-label.af--quality {
  opacity: .66;
  transition: all 1s;
  width: 3.1rem;
  padding: 3px 0;
  font-size: 10px;
  line-height: 1;
}
.af-label.af--quality:after {
  content: '%';
}
.af-label.af--quality:hover {
  opacity: 1;
}
.af-label.af--pdf {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 4px;
  vertical-align: middle;
}
.af-label.af--good {
  background-color: #81c684;
  color: white;
}
.af-label.af--avg {
  background-color: #f0ad4e;
  color: white;
}
.af-label.af--poor {
  background-color: #ed5565;
  color: white;
}

/*
    Lists
    =====
*/
.af-list {
  padding: 0;
  list-style: none;
}
.af-list > li,
.af-list .af-list__item {
  padding: 5px 0;
  font-size: 18px;
}
.af-list > li h3,
.af-list > li h4,
.af-list > li h5,
.af-list .af-list__item h3,
.af-list .af-list__item h4,
.af-list .af-list__item h5 {
  margin: 0;
}
.af-list > li a,
.af-list .af-list__item a {
  color: #333;
}
.af-list > li em,
.af-list .af-list__item em {
  color: #bbb;
  font-size: 12px;
  font-style: normal;
}
.af-list.af--collapsed .af-list__item:nth-of-type(n+9) {
  display: none;
}
.af-list.af--separated .af-list__item {
  padding: 10px 0;
  border-bottom: solid 1px #E5E5E5;
}
.af-list.af--separated .af-list__item:last-child {
  border-bottom: none;
}
.af-list.af--separated .af-list__item input[type="checkbox"],
.af-list.af--separated .af-list__item input[type="radio"],
.af-list.af--separated .af-list__item .fa {
  margin-right: .5em;
}
.af-list.af--separated .af-list__item .af-label {
  float: right;
}
.af-list.af--drill .af-list__item a:after {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  content: "\f105";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -.5em;
  color: #bbb;
  font-size: 30px;
}
.af-list.af--events .af-list__item {
  padding: 0;
}
.af-list.af--events .af-list__item a {
  display: block;
  position: relative;
  padding: 10px 0;
}
.af-list.af--events .af-list__item a h3 {
  font-size: 14px;
  font-weight: 800;
}
.af-list.af--files .af-list__item {
  position: relative;
  overflow: hidden;
  padding-right: 250px;
}
.af-list.af--files .af-list__item .af-list__actions,
.af-list.af--files .af-list__item .af-list__data {
  position: absolute;
  right: 0;
  transition: all .5s .1s;
  transform: translateZ(0);
  padding: .5em 0;
}
.af-list.af--files .af-list__item .af-list__actions {
  top: 101%;
  opacity: 0;
  padding: .75em 0;
}
.af-list.af--files .af-list__item .af-list__data {
  top: 0;
  opacity: 1;
}
.af-list.af--files .af-list__item:hover .af-list__actions, .af-list.af--files .af-list__item:active .af-list__actions {
  top: 0%;
  opacity: 1;
}
.af-list.af--files .af-list__item:hover .af-list__data, .af-list.af--files .af-list__item:active .af-list__data {
  top: -101%;
  opacity: 0;
}
.af-list.af--files ul.af-list__data {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #bbb;
}
.af-list.af--files ul.af-list__data li {
  display: inline-block;
  padding: 0 .5em;
  font-size: 16px;
  text-align: center;
}
.af-list.af--files ul.af-list__data li + li {
  border-left: solid 1px #E5E5E5;
}
.af-list.af--files ul.af-list__data small {
  display: block;
  font-size: 11px;
}
.af-list.af--sponsors .af-list__item {
  position: relative;
  padding-right: 100px;
}
.af-list.af--sponsors .af-list__item h3 {
  font-weight: normal;
}
.af-list.af--sponsors .af-list__item .fa {
  color: #bbb;
}
.af-list.af--sponsors .af-list__item .af-list__actions,
.af-list.af--sponsors .af-list__item .af-list__data {
  position: absolute;
  right: 0;
  top: 0;
  padding: .75em 0;
}
.af-list.af--sponsors .af-list__item .af-list__data {
  padding: 1em 0;
  color: #bbb;
  font-weight: 300;
}
.af-list.af--sponsors .af-list__item.af--active .fa {
  color: #333;
}
.af-list.af--sponsors .af-list__item.af--complete * {
  color: #81c684;
}

/*
    Loader
    ======
*/
.af-loader.af--page {
  padding: 20% 0;
  text-align: center;
  opacity: .33;
}
.af-loader.af--block {
  padding: 5em;
  text-align: center;
  opacity: .66;
}

/*
    Locked Reports List
    ===================
*/
.af-locked-reports {
  padding: 0;
  margin: 0;
}
.af-locked-reports .af-locked-reports__item {
  display: inline-block;
  width: 30%;
  margin: 10px 0;
  margin-left: 4%;
  padding: 10px 20px;
  box-shadow: #aaa 0 1px 3px;
  text-align: center;
}
.af-locked-reports .af-locked-reports__item:nth-child(3n+1) {
  margin-left: 0;
}
.af-locked-reports .af-locked-reports__item h3 {
  padding: 10px;
  border-bottom: solid 1px #E5E5E5;
  color: #333;
  font-size: 21px;
  font-weight: 100;
}
.af-locked-reports .af-locked-reports__item big {
  font-size: 48px;
  font-weight: 100;
  line-height: 1.1;
}
.af-locked-reports .af-locked-reports__item .af-locked-reports__thumbnail {
  display: block;
  width: 100%;
  padding-bottom: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.af-locked-reports .af-locked-reports__item.af--job_title .af-locked-reports__thumbnail {
  background-image: url(../af_img/reports/thumbnails/job_title@2x.jpg);
}
.af-locked-reports .af-locked-reports__item.af--education .af-locked-reports__thumbnail {
  background-image: url(../af_img/reports/thumbnails/education@2x.jpg);
}
.af-locked-reports .af-locked-reports__item.af--location .af-locked-reports__thumbnail {
  background-image: url(../af_img/reports/thumbnails/location@2x.jpg);
}
@media (max-width: 768px) {
  .af-locked-reports .af-locked-reports__item {
    width: 48%;
    margin-left: 3%;
  }
  .af-locked-reports .af-locked-reports__item:nth-child(3n+1) {
    margin-left: 4%;
  }
  .af-locked-reports .af-locked-reports__item:nth-child(odd) {
    margin-left: 0;
  }
}

/*
    Login/Register form
    ===================
*/
.af-login {
  width: auto !important;
  min-width: 300px;
  max-width: 480px;
}
.af-login .af-login__container {
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 30px;
  background: #fbfbfb;
  border: solid 1px #E5E5E5;
}
@media (max-width: 480px) {
  .af-login .af-login__container {
    padding: 20px;
    box-shadow: none;
    background: transparent;
    border: none;
  }
}
.af-login .af-login__logo {
  width: 160px;
  margin-bottom: 20px;
}
.af-login input {
  margin: 1em 0;
  padding: 1.4em 1em;
  font-size: 18px;
  font-weight: 100;
}
.af-login header h1 {
  font-size: 30px;
  font-weight: 100;
}
.af-login footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 1px #E5E5E5;
}

/*
    Labels
    ======
*/
.af-nav-widget {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  padding-left: 25px;
  overflow: hidden;
  background: #3b5063;
  color: #a7b1c2;
  transition: all .3s;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
}
.af-nav-widget h3 {
  font-weight: bold;
}
.af-nav-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.af-nav-widget ul li {
  margin: 10px 0;
}
.af-nav-widget.af--sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 220px;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
}
.mini-navbar .af-nav-widget {
  opacity: 0;
}

/*
    Page Title
    ====
*/
.af-page-title {
  color: #2f4050;
  text-align: center;
}

.af-page-title__title {
  font-size: 36px;
  font-weight: 300;
}

.af-page-title__subtitle {
  display: inline-block;
  min-width: 33%;
  margin: 0;
  padding: .5em;
  border-top: solid 1px #ccc;
  color: #777;
  font-size: 18px;
  font-weight: 100;
}
.af-page-title__subtitle small {
  margin-left: 1em;
}
.af-page-title__subtitle strong {
  font-weight: 500;
  color: #444;
}

/*
    Persona Cards
    =============
*/
.af-persona-card {
  position: relative;
  min-height: 80px;
  padding: 20px;
  overflow: hidden;
  font-size: 12px;
}

.af-persona-card__avatar {
  position: absolute;
  left: 16px;
  bottom: 22px;
  width: 66px;
}

.af-persona-card__name {
  margin: 0 0 6.66667px;
  margin-left: 75px;
  font-size: 16px;
}

.af-persona-card__info {
  margin-left: 75px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
}

/*
    Profile Cards
    =============
*/
.af-profile-cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.af-profile-cards-list .af-profile-card {
  float: left;
  width: 45%;
  margin: 20px 0;
}
.af-profile-cards-list .af-profile-card:nth-of-type(odd) {
  margin-right: 10%;
  clear: both;
}

.af-profile-card {
  font-size: 12px;
}

.af-profile-card__avatar {
  float: left;
  height: 90px;
  width: 90px;
  margin: 0 20px 10px 0;
}

.af-profile-card__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
}

.af-profile-card__link {
  color: #333 !important;
  font-weight: 600;
}

.af-profile-card__address {
  margin-left: 5px;
  font-weight: 300;
}

.af-profile-card__info {
  clear: both;
  color: #777;
  font-size: 12px;
}

.af-profile-card__stats {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.af-profile-card__stats li {
  float: left;
  width: 33%;
  margin: 10px 0;
  text-align: center;
}
.af-profile-card__stats li:first-of-type {
  text-align: left;
}
.af-profile-card__stats li:last-of-type {
  text-align: right;
}

/*
    Upload Progress UI
    ==================
*/
.af-progress .af-progress__bar {
  position: relative;
  margin: 3em 0;
  text-align: center;
}
.af-progress .af-progress__bar-input {
  display: none;
}
.af-progress .af-progress__bar-value {
  font-size: 100px;
  font-weight: 100;
  line-height: 1;
  position: absolute;
  bottom: 40%;
  width: 100%;
}
.af-progress .af-progress__bar-label {
  position: absolute;
  bottom: 25%;
  width: 100%;
  color: #aaa;
  font-style: italic;
  font-size: 18px;
}
.af-progress .af-progress__steps {
  padding-top: 5em;
  padding-left: 1.5em;
}
.af-progress .af-progress__steps .af-progress__step {
  opacity: .1;
  transition: all 1s .1s;
  font-size: 21px;
}
.af-progress .af-progress__steps .af-progress__step:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.af-progress .af-progress__steps .af-progress__step.af--active {
  opacity: 1;
}
.af-progress .af-progress__steps .af-progress__step.af--active:before {
  background-image: url(../af_img/loaders/events-loader@2x.gif);
}
.af-progress .af-progress__steps .af-progress__step.af--complete {
  opacity: 1;
  color: #81c684;
}
.af-progress .af-progress__steps .af-progress__step.af--complete:before {
  background-image: url(../af_img/icons/check@2x.png);
}
.af-progress .af-progress__steps .af-progress__step.af--error {
  opacity: 1;
  color: #ed5565;
}
.af-progress .af-progress__steps .af-progress__step.af--error:before {
  background-image: url(../af_img/icons/error@2x.png);
}

/*
    Reports
    =======
*/
.af-report {
  outline: none;
  position: relative;
  height: 600px !important;
  overflow: hidden;
}

.af-report__caption {
  position: absolute;
  left: 60px;
  top: 75%;
  z-index: 10;
  width: 50%;
  min-width: 300px;
  max-width: 400px;
}

.af-report__title {
  font-size: 40px;
  font-weight: 500;
  white-space: nowrap;
}

.af-report__quality {
  display: inline-block;
  margin-left: 1em;
  padding: .1em .5em;
  background: #81c684;
  border-radius: 3px;
  color: white;
  font-size: 10px;
  vertical-align: super;
}
.af-report__quality.af--medium {
  background: #f0ad4e;
}
.af-report__quality.af--low {
  background: #ed5565;
}

.af-report__canvas {
  width: 100%;
  height: 100%;
}
.af-report__canvas.af--chart {
  position: relative;
  width: 90%;
  height: 70%;
  top: 2%;
  left: 2%;
  right: 2%;
}
.af-report__canvas.af--map {
  position: relative;
  width: 80%;
  height: 80%;
  top: 5%;
  margin-left: 15%;
}
.af-report__canvas.af--wordcloud {
  position: relative;
  width: 80%;
  height: 70%;
  top: 5%;
  margin-left: 20%;
}

.af-report.af--zip_code .af-report__caption {
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: none;
  margin-top: -20px;
  padding-top: 20px;
  padding-left: 60px;
  background: rgba(255, 255, 255, 0.75);
}

/*
    Dropdown Select
    ===============
*/
.af-select-inline:after {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  content: "\f0dd";
  margin-left: .5em;
  font-size: 18px;
  vertical-align: top;
}

/*
    Slick (reports) slider
    ======================

*/
.af-slider {
  position: relative;
  background: white;
  box-shadow: #aaa 0 1px 4px;
}
.af-slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: #81c684;
  list-style: none;
  white-space: nowrap;
}
.af-slider .slick-dots li {
  display: inline-block;
}
.af-slider .slick-list {
  padding-top: 38px;
}

.af-slider__tab {
  padding: 10px 1em;
  border: none;
  background: transparent;
  outline: none;
  color: white;
}

.slick-active .af-slider__tab {
  color: #2f4050;
}

.af-slider__control {
  position: absolute;
  top: 75%;
  z-index: 100;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 60px;
  font-weight: 100;
  line-height: 1;
}
.af-slider__control.af--previous {
  left: 20px;
}
.af-slider__control.af--next {
  right: 20px;
}

/*
    Stack
    =====

*/
.af-stack__item {
  padding: 40px 0;
}
.af-stack__item:first-child {
  padding-top: 0;
}
.af-stack__item:last-child {
  padding-bottom: 0;
}
.af-stack__item + .af-stack__item {
  border-top: solid 1px #aaa;
}

/*
    Label/Value stats block
    =======================

*/
.af-stats {
  display: inline-block;
  line-height: 1.3;
  text-align: center;
}

.af-stats__label {
  display: block;
}

.af-stats__value {
  display: block;
  font-size: 24px;
}
.af-stats__value big {
  line-height: 0.1;
  font-size: 48px;
  font-weight: 300;
  vertical-align: sub;
}

.af-stats.af--social .af-stats__label {
  font-size: 10px;
  text-transform: uppercase;
}
.af-stats.af--social .af-stats__value {
  color: #61aadb;
  font-size: 18px;
}

.af-stats.af--large .af-stats__value {
  font-size: 30px;
  font-weight: 100;
  line-height: 1.3;
}

/*
    Switch
    ======
    <label class="af-switch">
        <input type="ceckbox" class="af-switch__input" />
        <span class="af-switch__knob">
    </label>
*/
.af-switch {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: white;
  border: solid 1px #E5E5E5;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  overflow: hidden;
  font-size: 0;
  line-height: 1;
  vertical-align: text-top;
}
.af-switch:before, .af-switch:after {
  display: inline-block;
  width: 50%;
  padding: 6.66667px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  text-transform: uppercase;
}
.af-switch:before {
  content: 'On';
  padding-left: 10px;
  background: linear-gradient(#95d33f, #73b11d);
  color: white;
}
.af-switch:after {
  content: 'Off';
  padding-right: 10px;
  background: #bbb;
  color: white;
}
.af-switch.af--small:before, .af-switch.af--small:after {
  padding: 5px;
  font-size: 10px;
}
.af-switch.af--small:before {
  padding-left: 6.66667px;
}
.af-switch.af--small:after {
  padding-right: 6.66667px;
}

.af-switch__input {
  display: none;
}

.af-switch__knob {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 52%;
  background: linear-gradient(#f2f2f2, #e5e5e5);
  border: solid 1px #aaa;
  border-radius: 5px;
  transition: all 0.15s;
}

.af-switch input:checked + .af-switch__knob {
  left: 48%;
}

/*
    Upload UI
    =========
*/
.af-upload {
  position: relative;
  min-height: 240px;
  margin: 2em -20px;
  background: #f2f2f2;
}
.af-upload .af-upload__overlay {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: red;
  opacity: 0;
}
.af-upload .af-upload__inner {
  padding: 3em;
  font-size: 18px;
  text-align: center;
}
.af-upload .af-upload__inner small {
  display: block;
  margin: .5em 0;
  color: #aaa;
}
.af-upload .af-upload__button {
  position: relative;
  z-index: 11;
  margin: .5em 0;
}

/*
    Welcome Widget
    ==============
*/
.af-welcome {
  box-shadow: #aaa 0 1px 3px;
  /* Intro */
  /* Audience */
  /* Events */
  /* Marketing */
  /* Sponsors */
  /* Floating widget */
}
.af-welcome, .af-welcome .widget-head-color-box {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.af-welcome h1 {
  margin: .2em 0;
  font-size: 48px;
  font-weight: 100;
}
.af-welcome h1 strong {
  font-weight: 500;
}
.af-welcome h6 {
  margin: 2em 0 1em;
  font-size: 21px;
  font-weight: 600;
}
.af-welcome p {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
}
.af-welcome .btn {
  vertical-align: baseline;
}
.af-welcome .af--light-text, .af-welcome.af--light-text, .af-welcome.af--light-text h1 {
  color: white;
}
.af-welcome .af--dark-text, .af-welcome.af--dark-text, .af-welcome.af--dark-text h1 {
  color: #333;
}
.af-welcome.af--intro {
  margin-bottom: 1em;
  background: transparent;
}
.af-welcome.af--intro .widget-head-color-box {
  margin: 0;
  margin-top: -2px;
  background-color: #E5E5E5;
  background-image: url("../af_img/welcome/events@2x.jpg");
  background-position: center top;
}
.af-welcome.af--audience {
  background-color: #43b8c8;
  background-image: url("../af_img/welcome/audience@2x.jpg");
}
.af-welcome.af--events {
  background-color: #81c684;
  background-image: url("../af_img/welcome/events@2x.jpg");
}
.af-welcome.af--marketing .widget-head-color-box {
  margin: 0;
  margin-top: -2px;
  background-color: #df7f86;
  background-image: url("../af_img/welcome/marketing@2x.jpg");
  background-position: center center;
}
.af-welcome.af--marketing .widget-text-box {
  text-align: left;
}
.af-welcome.af--sponsors {
  background-color: #a284bf;
  background-image: url("../af_img/welcome/sponsors@2x.jpg");
}
.af-welcome.af--float {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  position: fixed;
  top: 50%;
  left: 7%;
  right: 7%;
  z-index: 999;
  margin-top: -200px;
  margin-left: 220px;
  box-shadow: #aaa 0 5px 10px;
}
@media (max-width: 1024px) {
  .af-welcome.af--float {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 768px) {
  .af-welcome.af--float {
    margin-left: 0;
  }
}

/*
    Widgets
    =======
*/
.af-widget.af--data {
  text-align: center;
}
.af-widget.af--data footer {
  margin-top: 20px;
}
.af-widget.af--data h2 {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 100;
  line-height: 1.3;
}
.af-widget.af--data label {
  display: block;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .05em;
  line-height: 1.3;
}
.af-widget.af--data .af-button {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.af-widget.af--data .af-data {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.1;
  padding: 10px 0;
}
.af-widget.af--data.af--data-large .af-data {
  font-size: 48px;
  font-weight: 100;
  line-height: 1.1;
}
.af-widget.af--data.af--data-xlarge .af-data {
  font-size: 60px;
  font-weight: 100;
  line-height: 1.1;
  padding: 0 0 10px;
  line-height: .9;
}
.af-widget.af--data.af--data-xxlarge .af-data {
  font-size: 100px;
  font-weight: 100;
  line-height: 1;
  padding: 0 0 10px;
  line-height: .75;
}
.af-widget.af--promo p {
  margin: 0 0 6.66667px;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.3;
}
.af-widget.af--knob .af-knob__inner {
  margin: -4px;
  margin-bottom: -10px;
}
.af-widget.af--knob .af-knob__label {
  padding-top: .5em;
  opacity: 1;
}
.af-widget.af--knob .af-knob__value {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
  font-weight: 300;
}
.af-widget.af--audience {
  background-color: #43b8c8;
  color: white;
}
.af-widget.af--audience .af-button {
  color: #43b8c8;
}
.af-widget.af--events {
  background-color: #81c684;
  color: white;
}
.af-widget.af--events .af-button {
  color: #81c684;
}
.af-widget.af--marketing {
  background-color: #df7f86;
  color: white;
}
.af-widget.af--marketing .af-button {
  color: #df7f86;
}
.af-widget.af--sponsors {
  background-color: #a284bf;
  color: white;
}
.af-widget.af--sponsors .af-button {
  color: #a284bf;
}

.af-widget__progress {
  position: relative;
  display: block;
  width: 100%;
  margin: 12px 0 5px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.25);
  line-height: 0;
  font-size: 0;
  text-align: left;
  overflow: hidden;
}

.af-widget__progress-bar {
  display: inline-block;
  height: 7px;
  background: white;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
